
// ---
// Base Site Styles
// ---

// Keep it mobile first, yo! Read this:
// http://www.abookapart.com/products/mobile-first
// Actually, just buy all of those books.

// Anyways, here's how I like to structure my content styles:


// Border box all the things:

* {
	 box-sizing: border-box;
}

// ---
// General Selectors
// ---

img {
	max-width: 100%;
}


// ---
// Header
// ---

// You might want to split this into your own partial!

.main-bg{
	background-color: $backgroundColor;
}


// ---
// Main Site Content
// ---
body {
	@extend .main-bg;
}

hr {
	border-top: 2px solid rgba($color: #000000, $alpha: 0.2);
	margin: 2em;
}

// ---
// Media
// ---




// ---
// Footer
// ---




// ---
// Misc Utilities
// ---


